* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.05) 1px, transparent 1px);
}

header {
  width: 100%;
  max-width: 1920px;
  padding-top: 10px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  transition: 0.4s ease-in-out;
  z-index: 999;
}

header.scrolled {
  background-color: #ffffffea;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

/* Styling the navigation menu */

.logo img {
  width: 80px;
}

.logo-hamburger {
  display: none;
}

.navbar-width {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.nav_menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 1000;
}

.nav_menu ul li {
  margin: 15px 0;
  list-style: none;
}

.nav_menu ul li a {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.nav_menu ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #997C5E;
  transform: scale(0, 1);
  transition: transform 0.4s ease;
}

.nav_menu ul li a:hover::after {
  transform: scale(1, 1);
  z-index: 2;
}

.hidden-nav {
  display: none;
}

/* dropdown */

.dropdown {
  position: relative;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #ffffffea;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1;
  padding-top: 10px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  pointer-events: none;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.dropdown-content a {
  display: flex;
  justify-content: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-content a:hover {
  color: #997C5E;
}

/* end of dropdown */

.nav-btn button {
  color: #ffffff;
  background-color: #997C5E;
  border: 1px solid #997C5E;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
}

.nav-btn button:hover {
  color: #997C5E;
  background: none;
}

/* Show menu with fade-in effect */
.nav_menu.show {
  opacity: 1;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #ffffffea;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1;
  padding-top: 10px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  pointer-events: none;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.dropdown-content a {
  display: flex;
  justify-content: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-content a:hover {
  color: #997C5E;
}

/* hamburger menu styles */

.hamburger_menu {
  width: 35px;
  height: 30px;
  position: relative;
  top: 12px;
  cursor: pointer;
  z-index: 1001;
  opacity: 1;
  display: none;
}

.hamburger_bar {
  height: 5px;
  width: 100%;
  background: #997C5E;
  border-radius: 100vh;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.hamburger_bar::before {
  content: "";
  width: 100%;
  height: 5px;
  background: #997C5E;
  border-radius: 100vh;
  position: absolute;
  top: -8px;
  transition: all 0.3s ease-in-out;
}

.hamburger_bar::after {
  content: "";
  width: 100%;
  height: 5px;
  background: #997C5E;
  border-radius: 100vh;
  position: absolute;
  bottom: -8px;
  transition: all 0.3s ease-in-out;
}

.open .hamburger_bar {
  background: transparent;
}

.open .hamburger_bar::before {
  transform: rotate(-45deg);
  top: 0;
}

.open .hamburger_bar::after {
  transform: rotate(45deg);
  bottom: 0;
}

/* Animation for the hamburger menu */
.open .hamburger_bar::before {
  transform: rotate(-45deg);
  top: 0;
}

.open .hamburger_bar::after {
  transform: rotate(45deg);
  bottom: 0;
}

.hamburger_menu.open .hamburger_bar::before,
.hamburger_menu.open .hamburger_bar::after {
    background-color: white; /* Color when clicked */
}

/* end of hamburger menu styles */

/* mamshpaimbita section */
.title-section {
  width: 85%;
  margin: 0 auto;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 185px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title-span {
  font-size: 80px;
  display: flex;
  flex-direction: column;
  color: #997C5E;
  line-height: 120%;
}

.title-container p {
  color: #3f424a;
  max-width: 63ch;
  line-height: 2;
  margin-top: 25px;
  margin-bottom: 25px;
}

.shop-col-btn {
  display: flex;
  align-items: center;
  gap: 25px;
}

.shop-btn button {
  color: #ffffff;
  background: #997C5E;
  border: 1px #997C5E solid;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.shop-btn button:hover {
  color: #997C5E;
  background: none;
}

.collections-btn button {
  color: #997C5E;
  border: 1px solid #997C5E;
  padding: 10px 30px;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.collections-btn button:hover {
  color: #ffffff;
  background: #997C5E;
}

.slideshow-container {
  position: relative;
}

.mySlides {
  display: none;
}

.mySlides img {
  vertical-align: middle;
  width: 850px;
  border-radius: 5px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

.dot-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: #F1E5D9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #997C5E;
}

/* ------------ featured items -------------- */

.featured-section {
  width: 85%;
  margin: 0 auto;
  padding-top: 200px;
}

.featured-header h1 {
  font-size: 40px;
  color: #997C5E;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.featured-grid a {
  display: block;
}

.featured-grid img {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

/* ------------ services -------------- */

.services {
  width: 85%;
  margin: 0 auto;
  padding-top: 200px;
}

.service-offer h1 {
  font-size: 40px;
  color: #997C5E;
}

.we-offer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.we-offer {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.we-offer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border-radius: 5px;
  transition: transform 0.2s, background-color 0.2s;
  z-index: -1;
}

.we-offer:hover::before {
  transform: scale(1.07);
  background-color: #F1E5D9;
}

.we-offer h2 {
  margin-bottom: 20px;
  color: #997C5E;
}

.we-offer p {
  color: #3f424a;
  max-width: 48ch;
  margin-bottom: 20px;
  line-height: 2;
}

.view-more {
  margin-top: auto;
}

.view-more a {
  font-size: 18px;
  color: #997C5E;
  font-weight: 600;
}

/* ------------ collections -------------- */

.collections {
  width: 85%;
  margin: 0 auto;
  padding-top: 200px;
}

.sec-container {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/photographers-photo/272947103_434629061781240_1129211755456637575_n.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px;
}   

.sec-container h1 {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 25px;
}

.sec-container p {
  color: #ffffff;
  max-width: 120ch;
  margin: 0 auto;
  margin-bottom: 25px;
  line-height: 2;
}

.view-button button {
  padding: 10px 50px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.view-button button:hover {
  opacity: 0.6;
}

button:active {
  opacity: 0.3;
}

/* ------------ faqs -------------- */

.faqs {
  width: 85%;
  margin: 0 auto;
  padding-top: 200px;
}

.faq-header h1 {
  font-size: 40px;
  color: #997C5E;
}

.faq {
  width: auto;
}

.faq-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.faqs-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

.faq li {
  list-style: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.faq li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

label::after {
  content: '+';
  margin-right: 10px;
  font-size: 25px;
  font-weight: 300;
}

input[type="checkbox"] {
  display: none;
}

.faq .content {
  color: #3f424a;
  padding: 0 10px;
  line-height: 2;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.faq input[type="checkbox"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.faq input[type="checkbox"]:checked + label::after {
  content: '-';
}

/* ----------- footer ------------ */

.footer {
  width: 85%;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 125px;
}

.footer-outro h3 {
  font-size: 30px;
  color: #997C5E;
  margin-bottom: 15px;
}

.footer-outro p {
  color: #3f424a;
  line-height: 2;
  max-width: 85ch;
}

.footer-items-container {
  display: flex;
  gap: 125px;
}

.footer-items ul li {
  list-style: none;
  white-space: nowrap;
}

.footer-items ul li a {
  color: #3f424a;
  text-decoration: none;
  line-height: 2.5;
  cursor: pointer;
  transition: 0.2s;
}

.footer-items ul li a:hover {
  color: #997C5E;
  text-decoration: underline;
}

.footer-items ul li a:active {
  opacity: 0.5;
}

.footer-items button {
  color: #ffffff;
  background-color: #997C5E;
  border: 1px solid #997C5E;
  padding: 10px 55px;
  border-radius: 3px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-items button:hover {
  border: 1px solid #997C5E;
  color: #997C5E;
  background: none;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-rights p {
  color: #3f424a;
}

.icons {
  display: flex;
  gap: 25px;
}

.icons a {
  text-decoration: none;
}

.icons i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 1px solid #997C5E;
  color: #997C5E;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 0.3s;
}

.icons i:hover {
  background-color: #997C5E;
  color: #ffffff;
  border: none;
}

/* ----------- fading effect ------------ */

.featured-header {
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.featured-img {
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.service-offer {
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.hr-service {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;  
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.we-offer {
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.animate-delay {
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.sec-container {
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.faq-header {
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.faq {
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.footer-outro {
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.footer-items-container {
  transform: translateY(20px);
  z-index: 1;
  opacity: 0;
  transition: 1s ease;
}

.paragraph--visible {
  transform: translateY(0);
  opacity: 1;
}

/* ---------------------- contact page ------------------------- */

.contact-page {
  width: 85%;
  margin: 0 auto;
  padding-top: 170px;
}

.contact {
  margin-bottom: 50px;
}

.contact h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.contact p {
  color: #3f424a;
  line-height: 2;
}

.contact-header {
  font-size: 18px;
  font-weight: 650;
}

.contact-footer {
  color: #3f424a;
}

.social-contact-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 75px;
}

.social-contact {
  display: flex;
  align-items: center;
  gap: 25px;
}

.social-contact i {
  font-size: 60px;
  color: #997C5E;
}

.bg-background {
  width: 85%;
  margin: 0 auto;
  background-color: #F1E5D9;
  padding: 75px;
  margin-top: 100px;
  border-radius: 10px;
}

.contact-team h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.contact-team p {
  line-height: 2;
  max-width: 50ch;
}

/* collections-invitation */

.invitation-collections-section {
  width: 85%;
  margin: 0 auto;
  padding-top: 75px;
}

.invitations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.invitations-grid a {
  display: block;
}

.invitations-grid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.collections-sec {
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.collections-parent {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 100px;
}

.collections-intro {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.collections-intro h2 {
  color: #997C5E;
  font-size: 40px;
}

.collections-intro p {
  color: #3f424a;
  max-width: 110ch;
}

/* collections-prices */

.prices-collections-section {
  width: 85%;
  margin: 0 auto;
  padding-top: 75px;
}

.prices-sec {
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.prices-parent {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 100px;
}

.prices-intro {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.prices-intro h2 {
  color: #997C5E;
  font-size: 40px;
}

.prices-intro p {
  color: #3f424a;
  max-width: 110ch;
}

.prices-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.prices-grid a {
  display: block;
}

.prices-grid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}